/* line 25, ../scss/rca.scss */
body {
  background: #f3f3f3;
  font-family: 'Oswald';
  font-weight: 300;
}

/* line 30, ../scss/rca.scss */
p {
  font-family: 'Oswald';
  font-weight: 300;
}

/* line 34, ../scss/rca.scss */
h1, h2, h3 {
  color: #e05e35;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}

/* line 40, ../scss/rca.scss */
h2 {
  font-size: 20px;
  line-height: 18px;
}

/* line 44, ../scss/rca.scss */
h4, .page-user .pane-views-gallery-block-1 h2.pane-title {
  font-size: 20px;
  font-weight: bold;
}

/* line 48, ../scss/rca.scss */
a:link, a:visited {
  color: #e05e35;
  text-decoration: none;
}

/* line 53, ../scss/rca.scss */
#section-header {
  background: #fff;
}

/* line 56, ../scss/rca.scss */
.section-footer {
  background: #fff;
}
/* line 58, ../scss/rca.scss */
.section-footer ul.menu {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}
/* line 62, ../scss/rca.scss */
.section-footer ul.menu li {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}
/* line 67, ../scss/rca.scss */
.section-footer ul.menu li.expanded span {
  color: #000;
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 18px;
}
/* line 73, ../scss/rca.scss */
.section-footer ul.menu li.expanded a {
  color: #000;
}
/* line 76, ../scss/rca.scss */
.section-footer ul.menu li.expanded ul.menu li a {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}

/* line 91, ../scss/rca.scss */
.block-menu-user-menu .content ul.menu li a {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
  color: #e05e35;
}
/* line 96, ../scss/rca.scss */
.block-menu-user-menu .content ul.menu li a:hover {
  color: #fff;
  background-color: #e05e35;
}
/* line 101, ../scss/rca.scss */
.block-menu-user-menu .content ul.menu li.first {
  border-right: 1px solid #e05e35;
}

/* line 113, ../scss/rca.scss */
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary .line-item-quantity {
  color: #e05e35;
}
/* line 116, ../scss/rca.scss */
.block-shopping-cart-block .content .view-shopping-cart .line-item-summary ul.links {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 200;
  background-color: #e05e35;
}

/* line 127, ../scss/rca.scss */
.zone-footer-wrapper {
  background: #fff;
  color: #000;
}
/* line 130, ../scss/rca.scss */
.zone-footer-wrapper a {
  color: #000;
}

/* Logged in user */
/* line 136, ../scss/rca.scss */
.zone-user-wrapper {
  background: #f3f3f3;
}

/* MAIN NAV */
/* line 144, ../scss/rca.scss */
.navigation .primary-menu ul li.first a,
.navigation .second-menu ul li.first a {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  -khtml-border-radius: 0 0 0 0 !important;
  border-radius: 0 0 0 0 !important;
}

/* line 151, ../scss/rca.scss */
.navigation .primary-menu ul li.last a,
.navigation .second-menu ul li.last a {
  -moz-border-radius: 0 0 0 0 !important;
  -webkit-border-radius: 0 0 0 0 !important;
  -khtml-border-radius: 0 0 0 0 !important;
  border-radius: 0 0 0 0 !important;
}

/* line 159, ../scss/rca.scss */
.navigation .primary-menu ul {
  margin: 15px 0 !important;
}
/* line 161, ../scss/rca.scss */
.navigation .primary-menu ul li a {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 18px;
  padding: 10px 13px;
  background-color: #afbd21 !important;
  color: #fff;
  border: none !important;
  text-transform: uppercase;
}
/* line 170, ../scss/rca.scss */
.navigation .primary-menu ul li a.active {
  background-color: #e05e35 !important;
  color: #fff !important;
}
/* line 174, ../scss/rca.scss */
.navigation .primary-menu ul li a:hover {
  background-color: #e05e35 !important;
  color: #fff !important;
}
/* line 180, ../scss/rca.scss */
.navigation .second-menu ul {
  margin: 15px 0 !important;
}
/* line 182, ../scss/rca.scss */
.navigation .second-menu ul li a {
  font-family: 'Oswald';
  font-weight: 300;
  font-size: 18px;
  padding: 10px 13px;
  background-color: #073d1a !important;
  color: #fff !important;
  border: none !important;
  text-transform: uppercase;
}
/* line 191, ../scss/rca.scss */
.navigation .second-menu ul li a.active {
  background-color: #e05e35 !important;
  color: #fff !important;
}
/* line 195, ../scss/rca.scss */
.navigation .second-menu ul li a:hover {
  background-color: #e05e35 !important;
  color: #ffffff !important;
}

/* line 203, ../scss/rca.scss */
#block-menu-menu-social-connection h2 {
  font-family: 'Oswald';
  font-weight: 400;
}
/* line 207, ../scss/rca.scss */
#block-menu-menu-social-connection .content ul.menu li {
  margin-bottom: 0;
  background: none;
}
/* line 210, ../scss/rca.scss */
#block-menu-menu-social-connection .content ul.menu li span, #block-menu-menu-social-connection .content ul.menu li a {
  font-family: 'Oswald';
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  background: none !important;
  padding: 4px 0;
  height: auto;
}
/* line 218, ../scss/rca.scss */
#block-menu-menu-social-connection .content ul.menu li span:hover, #block-menu-menu-social-connection .content ul.menu li a:hover {
  background: none !important;
}

/* line 225, ../scss/rca.scss */
#promotional_banner {
  background-color: #e05e35;
  color: #FFFFFF;
  font-family: 'Oswald';
  letter-spacing: 2px;
  font-size: 18px;
  padding: 5px 10px 20px 10px;
  position: relative;
  top: 0;
  text-align: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  /* line 225, ../scss/rca.scss */
  #promotional_banner {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  /* line 225, ../scss/rca.scss */
  #promotional_banner {
    font-size: 30px;
  }
}

/* line 245, ../scss/rca.scss */
.block-block-3 #shipping {
  background-color: #000000;
  border: 6px solid #ffffff;
  color: #fff;
  display: block;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 244, ../scss/rca.scss */
  .block-block-3 {
    position: absolute;
    left: -50px;
    top: 85px;
    z-index: 100;
  }
  /* line 258, ../scss/rca.scss */
  .block-block-3 #shipping {
    border-color: #FFF;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
    -khtml-border-radius: 80px;
    border-radius: 80px;
    height: 120px;
    padding: 10px 5px;
    margin-top: 0;
    width: 130px;
  }
  /* line 270, ../scss/rca.scss */
  .block-block-3 #shipping #shipping_currency {
    display: block;
    font-size: 27px;
    margin-top: 2px;
  }
  /* line 277, ../scss/rca.scss */
  .block-block-3 #shipping #shipping_message {
    line-height: 10px;
    font-weight: 500;
  }
  /* line 281, ../scss/rca.scss */
  .block-block-3 #shipping #shipping_message span {
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 0 4px 0;
    text-transform: uppercase;
    line-height: 24px;
  }
}

/* line 295, ../scss/rca.scss */
.block-shipping-discount #shipping #shipping_currency {
  display: block;
  font-size: 27px;
  margin-top: 2px;
}

/* line 300, ../scss/rca.scss */
.block-shipping-discount #shipping #shipping_message {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

/* line 305, ../scss/rca.scss */
.breadcrumb {
  background: none;
  border: none;
  color: #e05e35;
  margin: 20px 0;
  padding: 13px 27px;
  text-transform: uppercase;
}
/* line 312, ../scss/rca.scss */
.breadcrumb a {
  color: #e05e35;
}

/*  Collection Pages */
/* line 319, ../scss/rca.scss */
.view-collection-products .view-content .item-list .products-per-collection li header,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li header {
  background: none;
  padding-top: 20px;
}

/* line 324, ../scss/rca.scss */
.view-collection-products .view-content .item-list .products-per-collection li header h2 a,
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li header h2 a {
  color: #e05e35;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 332, ../scss/rca.scss */
.view-collection-products .views-row {
  text-align: center;
}

/* line 338, ../scss/rca.scss */
.view-collection-products .view-header .taxonomy-title,
.view-collection-taxonomy-term .view-header .taxonomy-title {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}

/* ADD TO CART */
/* line 345, ../scss/rca.scss */
.node-product-type .field-type-commerce-product-reference {
  background: none;
}
/* line 347, ../scss/rca.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart {
  background: none;
}
/* line 349, ../scss/rca.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart label {
  text-transform: uppercase;
  font-family: 'Oswald';
  font-weight: 300;
}
/* line 354, ../scss/rca.scss */
.node-product-type .field-type-commerce-product-reference form.commerce-add-to-cart .form-submit {
  background-color: #e05e35;
  background-image: none;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  font-family: 'Oswald';
  font-size: 17px;
  font-weight: 400;
  margin-top: 40px;
  margin-left: 5px;
  padding: 5px 10px 5px 10px;
}

/* Checkout / PayPal */
/* line 374, ../scss/rca.scss */
.page-cart #commerce-paypal-ec-order-form {
  display: none;
}

/* line 377, ../scss/rca.scss */
.page-checkout #edit-commerce-payment {
  display: none;
}

/* PRODUCT LISTING */
/* line 383, ../scss/rca.scss */
.view-collection-taxonomy-term .view-content .item-list .products-per-collection li.views-row {
  padding-bottom: 0;
}

/* line 393, ../scss/rca.scss */
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content,
#block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-prev span.field-content em,
#block-views-demo-content-slideshow-block-1 .bx-next span.field-content em {
  font-family: 'Oswald' !important;
  font-weight: 300;
}

/* OLD START */
/* line 401, ../scss/rca.scss */
.view-gallery h3 {
  text-align: left;
  margin-bottom: 0;
}
/* line 406, ../scss/rca.scss */
.view-gallery .views-row {
  display: inline-block;
  padding: 10px 15px 40px 15px;
}
/* line 410, ../scss/rca.scss */
.view-gallery .views-field-title {
  text-align: left;
}

/* line 417, ../scss/rca.scss */
.page-user .view-gallery .views-row {
  display: inline-block;
  padding: 10px 5px 40px;
}

/* line 427, ../scss/rca.scss */
.block-views-users-crew-block h2.block-title {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

/* line 434, ../scss/rca.scss */
.view-users-crew .views-row {
  margin-bottom: 40px;
}
/* line 437, ../scss/rca.scss */
.view-users-crew .field-name-field-headshot {
  float: left;
  padding: 20px;
}
/* line 441, ../scss/rca.scss */
.view-users-crew .views-field-name {
  margin-bottom: 10px;
  font-size: 18px;
}
/* line 445, ../scss/rca.scss */
.view-users-crew .field-name-field-bio p {
  margin-bottom: 7px;
}

/* User Panel */
/* line 454, ../scss/rca.scss */
.page-user .container-24 .grid-18 {
  width: 655px;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}
/* line 460, ../scss/rca.scss */
.page-user .container-24 .grid-6 h2.pane-title {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}
/* line 465, ../scss/rca.scss */
.page-user .container-24 .grid-6 a.views-more-link {
  display: block;
  text-align: right;
  font-size: 12px;
}
/* line 472, ../scss/rca.scss */
.page-user .pane-user-field-headshot {
  float: left;
  padding: 20px;
}
/* line 477, ../scss/rca.scss */
.page-user .pane-views-gallery-block-1 h2.pane-title {
  width: 90%;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

/* Coral Categories */
/*
.page-taxonomy-term {
  &.page-taxonomy-term-91 {
    .pane-views-livestock-collections-block-1 {
      text-align: center;
      .views-row {
        display: inline-block;
        padding: 0 10px 10px 10px;
        margin: 10px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        .views-field-name a {
          display: block;
          font-size: 18px;
          padding-bottom: 4px;
          margin: 10px 0 0 0;
          background-color: #eeeeee;
          border: 1px solid #d7d7d7;
        }
      }
    }
  }
}
*/
/* Prod Listing */
/* line 514, ../scss/rca.scss */
.view-livestock-product-displays .views-row, .view-livestock-product-displays-cichlids .views-row {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}
/* line 520, ../scss/rca.scss */
.view-livestock-product-displays .views-row h2, .view-livestock-product-displays-cichlids .views-row h2 {
  font-size: 18px;
  margin-bottom: 8px;
  max-width: 250px;
  min-height: 60px;
}
/* line 526, ../scss/rca.scss */
.view-livestock-product-displays .views-row .field-name-commerce-price, .view-livestock-product-displays-cichlids .views-row .field-name-commerce-price {
  font-size: 18px;
  margin: 0;
}

/* PANELS */
/* line 534, ../scss/rca.scss */
.panel-panel .inside {
  padding: 0 20px;
}

/* OLD END?? */
/* Commerce OVerrides */
/* line 542, ../scss/rca.scss */
body.toolbar #toolbar-home a span {
  background: url("../library/images/deliish-logo-sm.png") no-repeat scroll 0 0 transparent;
  display: block;
  margin: 0;
  min-height: 40px;
  text-indent: -9999px;
}

/* homepage Slidshow */
/* line 552, ../scss/rca.scss */
.front #block-views-demo-content-slideshow-block-1 .event-slider .views-field-nothing {
  background: transparent url("../library/images/bg_title_slideshow_current.png") left top no-repeat;
}

/* line 558, ../scss/rca.scss */
.front #block-views-demo-content-slideshow-block-1 .views-field-nothing span.field-content em,
.front #block-views-demo-content-slideshow-block-1 .bx-prev span.field-content em,
.front #block-views-demo-content-slideshow-block-1 .bx-next span.field-content em {
  font-size: 28px !important;
}

/* Homepage CTAs */
/* line 564, ../scss/rca.scss */
#zone-postscript .view-ad-push .views-row .views-field-field-tagline .field-content,
#zone-postscript .block-blog-block .views-field-title .field-content {
  display: none;
}
